// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 20) * 1px;
  font-size: $sizeValue * 1.25rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


//borders
@mixin borders-lr {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

@mixin borders($margin_topbottom, $padding_topbottom) {
  margin-top: $margin_topbottom;
  margin-bottom: $margin_topbottom;
  padding-top: $padding_topbottom;
  padding-bottom: $padding_topbottom;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: white;

  @media and screens and (min-width: $media_medium) {
    @include borders-lr;
  }
}

@mixin borders2($widthpx) {
  border: $widthpx solid black;
}
