.site-info {
  @include borders(16px, 9px);

}

#footer-menu {
  width: 27%;
  display: inline-block;

  ul {
    margin: 0 5%;
    padding: 0;

    li {
      list-style: none;

      a {
        font-family: $font__sans;
        font-size: 0.9em;
        text-decoration: none;
      }
    }
  }
}

#footer-address {
  width: 42%;
  display: inline-block;
  font-family: $font__sans;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  flex: 1 0 auto;
  vertical-align: super;

  #address {
    font-size: 0.85em;
  }
}

#footer-social {
  width: 27%;
  display: inline-block;
}


