.site-info {
  @include borders(16px, 9px);
  padding: 1% 2%;
  display: flex;

  @media and screen and (min-width: $media_small) {
    padding: 1% 4%;
  }
}

#footer-menu,
#footer-address,
#footer-social {
  display: inline-block;
  flex: auto;
  font-family: $font__sans;
}


#footer-menu {

  width: 27%;
  margin-left: auto;
  margin-right: auto;
  ul {
    margin: 0 5%;
    padding: 0;

    li {
      list-style: none;
      padding-left: 3%;

      a {
        font-size: 0.9em;
        text-decoration: none;
      }
    }
  }
}

#footer-address {
  flex: 1 0 auto;
  vertical-align: super;

  width: 42%;
  font-family: $font__sans;
  font-size: 1em;
  text-decoration: none;
  text-align: center;


  #address, .contact-tag {
    font-size: 0.85em;
  }
}

#footer-social {
  width: 27%;
  align-self: center;
  text-align: right;
  padding-right: 1%;
  font-size: 0.9em;
}

