.site-info {
  @include borders(16px, 9px);
  display: flex;
}

#footer-menu {
  width: 29%;

  ul {
    margin: 0 5%;
    padding: 0;

    li {
      list-style: none;

      a {
        font-family: $font__sans;
        @include font-size(0.875);
        text-decoration: none;
      }
    }
  }
}

#footer-address {
  width: 39%;
  font-family: $font__sans;
  @include font-size(0.875);
  text-decoration: none;
  text-align: center;
  flex: 1 0 auto;

  #address {
    @include font-size(0.75);
  }
}

#footer-social {
  width: 29%;
}


