.site-header {
  position: relative;
  padding: 0;

  /*@media screen and (min-width: $media_medium) {
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $media_medium) {
    padding: 1em 3em;
  }*/
}

#presentedBy {
  width: 120px;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
   cursor: pointer;
  }
}


#shards {
  position: fixed;
  top: -25px;
  right: 5%;
  z-index: -99;

  img {
    width: 100%;
    height: auto;
  }
}

#shards2 {
  display: none;

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: $media_large) and (min-height: 770px) {
    display: inline-block;
    position: fixed;
    bottom: -150px;
    left: 5%;
    z-index: -99;
  }

  @media screen and (min-width: 1250px) and (min-height: 900px) {
    bottom: -70px;

  }
}
