body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__serif;
	@include font-size(0.725);
		/* 20 * 0.725 = 14.5 */
	line-height: $font__line-height-body;

	/*responsive text size*/
	@media screen and (min-width: $media_small) {
		@include font-size(0.75);
			/* 20 * 0.75 = 15 */
	}

	@media screen and (min-width: $media_medium) {
		@include font-size(0.8);
			/* 20 * 0.8 = 16 */
	}
}

@import "headings";

@import "copy";
