@import "colors";

/*typography*/
$font__serif: "Rufina", serif;
$font__sans: "Montserrat", sans-serif;
$font__bubble: "Courier", monospace;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.2;
$font__line-height-pre: 1.15em;

/*
Montserrat: 400,800
Rufina: 400,700;
*/


/*structure*/
$size__site-main: 100%;
/*$size__site-sidebar: 200px;*/

$media_xsmall: 425px;
$media_small: 570px;
$media_medium: 768px;
$media_large: 1024px;

