

#site-navigation {
	display: block;
	width: 100%;
	@include borders(16px, 9px);

}


#sticky-header {
	width: 100%;
	height: 3em;
	background-color: $color__orangey;
	position: absolute;
	top: -250px;
	transition: top .3s ease-in-out;
	padding: 0.5em;
	box-shadow: 0 3px 12px rgba(0,0,0,0.5);

	span {


		h4 {
			display: inline-block;
		}
	}

	@media screen and (min-width: $media_small) {
    display: none;
  }
}

.menu-toggle {	/* button */
	height: 28px;
	width: 28px;
	display: inline-block;
	float: right;
	background-color: transparent;
	background-image: url('img/catstripe.svg');
	margin: 0 0.1em;
	border: 0;
	padding: 0;
	outline: none;

	&:hover,
	&:active {
		background-image: url('img/catstripe1.svg');
	}
}


.menu-main-container {
	display: flex;
	@include center-block;
	padding-left: 3%;

	ul {
		margin: 0;
		padding: 1%;
		list-style: none;
		justify-content: flex-end;
		flex-direction: row;
		flex-wrap: wrap;

		li {
			display: inline;
		/*spacing between menu items, but not on the last one*/
			&:not(:last-child) {
				margin-right: 3%;
			}

			h5 {
				display: inline;
				margin: 0;
				text-decoration: none;
				color: $color__text-main;
			}
		}
	}
}
/*		a {
			text-decoration: none;

			&:active{
				color: $color__link2;
			}
		}
	}*/

/*	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

}*/



/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
/*
@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}*/

/*.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}*/
