/*events*/

#intro {
  width: 100%;
  @include borders(20px, 9px);

  p {
    margin: 0;
    padding: 0 2%;
    text-align: center;
  }

  @media screen and (min-width: 640px) {
    border: 2px solid black;
  }
}


.event-header,
.event-content > p {
  margin: 0 3% 0 5% ;
}

.event-content > ul {
  margin-right: 3%;
}

.event-title,
.event-header > p{
  margin: 0;
}

.event-img {
  margin-top: 2%;
  margin-bottom: 1%;
  img {
    @include borders(0, 0);
  }
}

.event-img-empty {
  @include font-size(0.5);
}


.event-entry-single {
  @include borders-lr;
}
